<footer class="footer">
    <div>
        <aside>
         <span class="bi bi-instagram"></span>
        <span class="bi bi-facebook"></span>
        <span class="bi bi-youtube"></span>
        </aside>
    </div>
    <div>
      &copy; <span>Wanderlust private Limited</span>
    </div>
    <div>
        <span>Privacy terms</span>
    </div>
    
</footer>