<% layout("layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h2>Create a New Listing</h2>

      <form action="/listings" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required />
          <div class="invalid-feedback">Please provide a title.</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
          <div class="invalid-feedback">Please add a short description.</div>
        </div>

        <!-- <div class="mb-3">
          <label for="imageUrl" class="form-label">Image URL</label>
          <input type="text" name="listing[image]" placeholder="Image URL" class="form-control"  />
        </div> -->

        <div class="mb-4">
          <label for="imageUrl" class="form-label">Image URL</label>
          <input type="file" name="listing[image]"  class="form-control" accept=".jpg" required />
        </div>
 
        <div class="mb-5">
          <label for="category" class="form-label">Category</label>
          <select class="form-select" name="listing[category]" id="category" required>
            <option value="Trending">Trending</option>
            <option value="Rooms">Rooms</option>
            <option value="Amazing pools">Amazing pools</option>
            <option value="Mountain">Mountain</option>
            <option value="Farms">Farms</option>
            <option value="New">New</option>
            <option value="Beachfront">Beachfront</option>
            <option value="Luxe">Luxe</option>
            <option value="Treehouse">Treehouse</option>
            <option value="Cabins">Cabins</option>
          </select>
        </div>
        

        <div class="row">
          <div class="mb-3 col-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" placeholder="Enter price" class="form-control" required />
            <div class="invalid-feedback">Please provide a valid price.</div>
          </div>

          <div class="mb-3 col-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required />
            <div class="invalid-feedback">Please provide a valid country.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required />
          <div class="invalid-feedback">Please provide a valid location.</div>
        </div>

        <button class="btn btn-dark">Add</button>
      </form>
    </div>
  </div>

</body>
